@font-face {
  font-family: philosopher;
  src: url(font/Philosopher-Regular.ttf);
  font-family: kt;
  src: url(font/Kingthings\ Organica.ttf);
  font-family: flo;
  src: url(font/Florania\ Trial.otf);
  font-family: brooklyn;
  src: url(font/The\ Brooklyn.otf);
  font-family: luis;
  src: url(font/Louis\ George\ Cafe.ttf);
}
p a {
  text-decoration: none !important;
  color: rgb(181, 71, 31) !important;
}
p a:hover {
  color: peachpuff !important;
}
.jumbotron {
  padding-top: 6rem;
  background-color: lightsteelblue;
  font-family: luis;
}
.jumbotron .lead {
  font-size: 15px;
}
.jumbotron p {
  font-size: 15px;
}
.container-fluid {
  font-family: kt;
}

body {
  background-color: #e8e5dd;
  font-family: luis;
}
#project {
  background-color: lightsteelblue;
}
.konten-card {
  background-color: #e8e5dd;
}
#addskill {
  background-color: lightsteelblue;
}
#contact {
  background-color: #e8e5dd;
}

.row {
  text-align: justify;
}
section {
  padding-top: 5rem;
}
@media only screen and (max-width: 767px) {
  .card {
    width: 100%;
    margin-bottom: 5%;
    margin-top: 5%;
    padding-top: 2%;
    padding-bottom: 2%;
  }
  .jumbotron {
    font-size: 1rem;
  }
}
@media only screen and (max-width: 991px) {
  .card {
    width: 100%;
    margin-bottom: 5%;
    margin-top: 5%;
    padding-top: 2%;
    padding-bottom: 2%;
  }
  .konten-card .card {
    display: flex;
    flex-direction: row;
  }
  .jumbotron {
    font-size: 1rem;
  }
}
